{% extends 'base.html' %}

{% block content %}
<h2>{{comp_name}}</h2>

{% if status == 200 %}
<p class="managerStatus goodManager">This is a competition that you can manage.</p>
{% elif status == 401 %}
<p class="managerStatus warningManager">You are not logged in, and will have limited features.</p>
{% elif status == 403 %}
<p class="managerStatus warningManager">This is a competition which you cannot manage, and will have limited features.</p>
{% endif %}

<form action="/comp/{{compid}}/download" method="POST">
    <br>
    {% if pre_stations %}
    <p>Station count <input type = "text" value = {{pre_stations}} name = "stations" /> </p>
    {% else %}
    <p>Station count <input type = "text" name = "stations" /> </p>
    {% endif %}
    <p>Number of stages <input type = "text" value = 1 name = "stages" /> </p>
    <p>Combined events <input type = "text" value="{{ eventAutoFill if eventAutoFill else '' }}" name = "combinedEvents" /> </p>
    <p class="formInfo">See documentation <a href="/wcif-extensions/CombinedEvents" target="_blank">here</a>. </p>
    <p>Custom groups by event <input type = "text" name = "eventGroups" /> </p>
    <p class="formInfo">See documentation <a href="/wcif-extensions/CustomGroups" target="_blank">here</a>. </p>
    {% if admin %}
        <p>Post to WCIF <input type = "checkbox" name = "postToWCIF"/> </p>
    {% else %}
        <p>Post to WCIF <input type = "checkbox" name = "postToWCIF" disabled/> </p>
    {% endif %}
    <button>Generate and download <input type="submit" name = "submit" /> </button>
</form>

<hr>
<form action="/comp/{{compid}}/existing_groups" method="POST">
    
    <p>Number of stages <input type = "text" value = 1 name = "stages" /> </p>
    <button>Use existing groups from WCIF (WIP) <input type="submit" name = "submit" /> </button>
</form>
{% endblock %}