{% extends 'base.html' %}

{% block content %}
   <h1>DVE Group app</h1>
    <p>This site is still work in progress. There are two ways to authenticate, where at least one should work. The fastest way is to simply click the "Authenticate me!" me button below.</p>
    <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=8xB-6U1fFcZ9PAy80pALi9E7nzfoF44W4cMPyIUXrgY&redirect_uri=https%3A%2F%2Fgroups.danskspeedcubingforening.dk%2Fshow_token&response_type=token&scope=manage_competitions+public">
        <button>Authenticate me! (DSF)</button>
    </a> 

   <p>Authenticating is needed to unlock extra features (check-in list for newcomers, updating groups for other apps), and generally for a better experience.</p>

{% endblock %}